@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 29px;
}

body{
    background-color: #D6D6D6;
}

.header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 5%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.2s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline;
    padding: 0 20px;      
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #000000;
    text-decoration: none;  
}

.header .nav-links li a:hover{
    color: #3AC0FF;
}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 20px;
    background: #9AE8FF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #6CDEFF;
    color: #FFFFFF;
    transform: scale(1.1);
}